//icon
@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
  .vccloud {
    .vcc-icon {
      text-indent: -9999px;
      display: block;
      background-image: url("../images/sprites.png");
      background-repeat: no-repeat;

      &.vcc-icon-notifications {
        width: 26px;
        height: 26px;
        background-position: 0px -905px;
        background-size: 25px;
        margin: 4px 0;
      }
      &.vcc-icon-server-sm {
        background-position: 0 -1261px;
        width: 25px;
        height: 25px;
        background-size: 25px;
      }
      &.vcc-icon-volume-sm {
        background-position: 0 -72px;
        width: 25px;
        height: 25px;
        background-size: 25px;
      }
    }
  }
}

.vcc-icons {
  text-indent: -9999px;
  display: block;
  background-image: url("../images/sprites-32.png");
  background-repeat: no-repeat;

  &.vcc-icon-notifications {
    width: 26px;
    height: 26px;
    background-position: 0px -915px;
    background-size: 25px;
  }

  &.vcc-icon-server-sm {
    background-position: 0 -1325px;
    width: 26px;
    height: 26px;
    background-size: 26px;
  }
  &.vcc-icon-volume-sm {
    background-position: 0 -72px;
    width: 24px;
    height: 24px;
    background-size: 24px;
  }
  &.vcc-icon-domain-sm {
    background-image: url("../images/new-domain.png");
    background-position: 0 0;
    width: 24px;
    height: 24px;
    background-size: 24px;
  }
  &.vcc-icon-new-bucket-sm {
    background-image: url("../images/new-bucket.png");
    background-position: 0 0;
    width: 24px;
    height: 24px;
    background-size: 24px;
  }
  &.vcc-icon-loadbalancer-sm {
    background-position:0 -1464px;
    width: 25px;
    height: 25px;
    background-size: 24px;
  }
  &.vcc-icon-vpn-sm {
    background-image: url("../images/icon-VPN-2.png");
    width: 24px;
    height: 24px;
    background-size: 24px;
  }
  &.vcc-icon-alert-sm {
    background-image: url("../images/icon-alert-32.png");
    background-position: 0 0;
    width: 24px;
    height: 24px;
    background-size: 24px;
  }
}

.vcc-icon-notify {
  background: url("../images/notifications.png") no-repeat;
  min-width: 50px;
  height: 45px;
  background-position: 0 0;
  background-size: 50px;
  margin-right: 8px;
}
.vcc-icon-notify-system {
  background: url("../images/notifications.png") no-repeat;
  min-width: 50px;
  height: 45px;
  background-position: 0 -51px;
  background-size: 50px;
  margin-right: 8px;
}

//
.btn {
  border-radius: 2px;
  padding: 7px 25px;
  font-size: 14px;
}
.vcc-flex {
  display: flex !important;
}
.vcc-icons {
  text-indent: -9999px;
  display: block;
}
.vcc-align-items-center {
  align-items: center !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-2 {
  margin-right: 8px;
}
.mb-0 {
  margin-bottom: 0;
}
.fw-6 {
  font-weight: 600;
}
.text-primary {
  color: #1174d4;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin-bottom: 20px;
}
.navbar-brand {
  margin-right: 16px;
}
.navbar.navbar-light {
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.navbar-collapse {
  display: flex;
  flex-basis: auto;
  align-items: center;
  flex-grow: 1;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.navbar-nav {
  .nav-link {
    color: #555555;
    text-decoration: none;
    background-color: transparent;
    &.beta {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: -1px;
        right: -6px;
        font-size: 8px;
        background-color: #f33c3c;
        color: #ffffff;
        border-radius: 50%;
        padding: 3px;
        transition: 0.3s;
      }
    }
    &.beta:hover {
      &:before {
        content: 'BETA';
        position: absolute;
        top: -9px;
        right: -13px;
        font-size: 8px;
        background-color: #f33c3c;
        color: #ffffff;
        border-radius: 7px;
        padding: 1px 4px;
        transition: 0.3s;
      }
    }
  }
}
.vcc-navbar-item {
  margin: 0 8px;
  transition: .3s;
}

.vcc-navbar-item.active .nav-link {
  color: #1174d4;
}
.vcc-navbar-item a {
  display: block;
  padding: 0 !important;
}
.vcc-navbar-item:hover .nav-link {
  position: relative;
  color: #1174d4;
}
.vcc-navbar-item:hover .nav-link:after {
  content: '';
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  background: #1174d4;
}
#vcc-user-email {
  color: #676767 !important;
  padding: 0 8px;
  transition: .3s;
}
#vcc-user-email:hover {
  color: #333333;
  cursor: pointer;
}
.vcc-menu-dropdown {
  position: relative;
}
// Menu service
.vcc-menu-dropdown .vcc-items-services {
  position: absolute;
  background: #ffffff;
  border: 1px solid #ececec;
  font-size: 14px;
  width: 900px;
  top: 100%;
  left: -285px;
  margin: 15px 0;
  padding: 8px 0;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.08) 1px 2px 4px 0px;
}
.vcc-menu-dropdown .vcc-items-services:before, .vcc-menu-dropdown .vcc-items-services:after {
  bottom: 100%;
  right: -100px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.vcc-menu-dropdown .vcc-items-services:before {
  border-color: rgba(241, 241, 241, 0);
  border-bottom-color: #666;
  border-width: 9px;
  margin-right: 591px;
}
.vcc-menu-dropdown .vcc-items-services:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 9px;
  margin-right: 591px;
}
.vcc-items-services .dropdown-item {
  display: block !important;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #676767;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
// end menu service
.vcc-menu-dropdown .vcc-items-dropdown {
   position: absolute;
   background: #ffffff;
   border: 1px solid #ececec;
   font-size: 14px;
   right: 0;
   min-width: 10rem;
   top: 100%;
   margin: 15px 0;
   padding: 8px 0;
   z-index: 99;
 }
.vcc-menu-dropdown .vcc-items-dropdown:before, .vcc-menu-dropdown .vcc-items-dropdown:after {
  bottom: 100%;
  right: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.vcc-menu-dropdown .vcc-items-dropdown:before {
  border-color: rgba(241, 241, 241, 0);
  border-bottom-color: #666;
  border-width: 9px;
  margin-left: 0;
}
.vcc-menu-dropdown .vcc-items-dropdown:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 9px;
  margin-left: 0;
}
.vcc-items-dropdown .dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #676767;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.vcc-items-dropdown a{
  width: 70% !important;
}
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f8f8;
  cursor: pointer;
}
.btn-primary {
  color: #ffffff;
  background: #1174d4;
  border: 1px solid #1174d4;
  outline: none;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 3px;
  vertical-align: 3px;
  content: "";
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
}
#vcc-notifications {
  position: relative;
}
#vcc-notifications .badge {
  position: absolute;
  display: inline-block;
  right: -7px;
  top: -10px;
  min-width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 9px;
  padding: 0 !important;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}
.badge-danger {
  color: #ffffff;
  background-color: #dc3545;
}
#vcc-notifications:hover {
  cursor: pointer;
}
#vcc-notifications #vcc-sub-notifications {
  position: absolute;
  display: block;
  width: 300px;
  top: 49px;
  right: -3px;
  z-index: 99;
  background: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 1px 1px 1px #f1f1f1;
}
#vcc-notifications #vcc-sub-notifications:before, #vcc-notifications #vcc-sub-notifications:after {
  bottom: 100%;
  right: 2%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#vcc-notifications #vcc-sub-notifications:before {
  border-color: rgba(241, 241, 241, 0);
  border-bottom-color: #666;
  border-width: 9px;
  margin-left: 0;
}
#vcc-notifications #vcc-sub-notifications:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 9px;
  margin-left: 0;
}
#vcc-notifications #vcc-sub-notifications .item-notify {
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
}
#vcc-notifications #vcc-sub-notifications .item-notify:hover {
  background-color: rgba(17, 116, 212, .05);
}
.item-notify.unread {
  background-color: rgba(17, 116, 212, .1);
}
.item-notify .created {
  font-size: 11px;
  color: #8b8b8b;
}
.read-more {
  padding: 10px;
  text-align: center;
}

.vcc-menu-dropdown {
  #tit-vcc-services {
    height: 40px;
    font-weight: bold;
    cursor: pointer
  }

  .vcc-items-services {
    .mega-menu {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .mega-menu-group {
        .group-item {
          margin: 10px 0;
        }

        width: 280px;
        margin: 5px 20px;

        .mega-menu-title {
          border-bottom: 1px solid #e8dede;
          font-size: 13px;
          margin: 0 0 10px;
          padding: 0 0 5px;
        }

        .mega-menu-list {
          .dropdown-item {
            padding: 6px 5px !important;
            display: flex !important;
            line-height: 16px;

            .vcc-icons {
              margin-right: 10px;
            }

            .text {
              span {
                font-family: lato-bold;
              }
              p {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}

.create-service-group {
  .group-title {
    text-transform: capitalize;
    padding: 0 10px;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .divider {
    height: 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
    width: 80%;
    margin: 10px auto;
  }

  &:last-child .divider {
    display: none;
  }
}

